on:
  push:
    branches: [master]

name: release

permissions:
  contents: write
  pull-requests: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          registry-url: 'https://registry.npmjs.org'
      - run: npm ci
        shell: bash
      - uses: codex-team/action-nodejs-package-info@v1
        id: package
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{secrets.YC_UI_BOT_GITHUB_TOKEN}}
          release-type: node
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.ROBOT_DATAUI_NPM_TOKEN}}
        if: ${{ steps.release.outputs.release_created }}
        shell: bash